*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    position: relative;
}
.container{
    padding: 0 50px !important;
}
p{
    margin-bottom: 0 !important;
}
.header{
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.guides .d-flex{
    gap: 10px;
}
.header.scroll{
    background-color: #528ac5;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.header.scroll .left-header .logo{
    opacity: 1;
}
.header.scroll .header-input-wrap{
    opacity: 1;
}
.header .header-input-wrap{
    opacity: 0;
    transition: 0.2s ease;
}
.header-container{
    width: 98%;
    margin: 0 auto;
    padding: 8px 0;
}
.left-header .logo{
    opacity: 0;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
    margin: 3px 32px 0 0;
    background-image: url('https://d303xdzectw69e.cloudfront.net/homepage/img/parkme-logo-sprite-retina.png?42155d7b0aca') ;
    background-repeat: no-repeat;
    width: 160px;
    height: 40px;
    background-position: 0 -35px;
    background-size: 100%;
}
.header-input-wrap{
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
}
.header-input-wrap input{
    border: none;
    outline: none;
    width: 245px;
    font-size: 14px;
}
.icon{
    color: #ccc;
}

.log-in, .sign-up{
    text-transform: uppercase;
    border-radius: 5px;
    background-color: gray;
    margin-right: 14px;
    padding: 7px 20px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}

.sign-up{
    background-color: #3995f7;
}
.log-in{
    background-color: #625e5e;
}


.map{
    background-image: url(./img/city-map.png);
    background-size: contain;
}

.search-icon{
    width: 25px;
}
.map-input-wrap .left{
    background-color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 3px 0 3px 3px;
}
.input-inner{
    border: 1px solid #888;
    border-radius: 5px;
    background-color: #fff;
    padding: 7px 0;
    padding-left: 15px;
    gap: 6px;
}
.input-inner input{
    width: 455px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #888;
    outline: none;
}
.map{
    padding-top: 104px;
    padding-bottom: 140px;
}
.map h1{
    color: #fff;
}
.map h2{
    color: #fff;
}
.tabs{
    list-style: none;
    margin-top: 50px;
}
.tabs li{
    color: #Fff;
    opacity: 0.6;
}
.tabs li.active{
    opacity: 1;
    color: #fff;
}
.map-input-wrap .right{
    color: #FFF;
    background: #3995f7;
    border: none;
    text-shadow: none;
    box-shadow: none;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 28px ;
    transform: translateX(-4px);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.icon-section{
    background-color: #3995f7;
    padding: 23px 30px;
}
.icon-section .item{
    text-align: center;
    color: #fff;
}
.icon-section .item img{
    width: 60px;
}

.icon-section .item h2{
    font-weight: bold;
    font-size: 25px;
    margin: 26px 0 24px;
}

.icon-section .item p{
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
}
.guides{padding-top: 18px;}
.guides h2{
    font-weight: 600;
    margin: 30px 0;
    margin-left: 8px;
    font-size: 18px;
}
.guide{
}
.guide span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.guide {
    width: 320px;
    height: 171px;
    position: relative;
    margin: 10px;
}

.guide img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.line{
    width: 70%;
    height: 1px;
    background-color: #ccc;
    text-align: center;
    margin: 80px auto 65px;
}

.col-6 .phone{
    width: 80%;
}

.col-6 h2{
    font-size: 30px;
    color: #3995f7;
    font-weight: bold;
}
.col-6 ul{
    padding-left: 0;
    list-style: none;
    padding-left: 20px;
    margin-top: 20px;
}
.col-6 li{
    color: #888;
    margin-top: 10px;
}
.col-6 li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #3995f7; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

.download-link-wrap{
    margin-top: 10px;
}

.partner-container{
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}
.partner-list{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.partner-list li img{
    max-width: 156px;
}

.more-btn{
    color: #33495d;
    border: 2px solid #33495d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 22px;
    border-radius: 4px;
}

.b2b{
    color: #fff;
    font-size: 16px;
    border: 1px solid #fff;
    padding: 4px 8px;
    border-radius: 4px;
}
.col-3{
    flex-direction: column !important;
    gap: 20px   ;
}
.appstore{
    width: 135px;
}
.footer{
    background-color: #474747;
    padding: 16px 0;
}
.col-3 h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}
.col-3 .appstore{
    margin-bottom: 12px;
}
.col-3 p{
    color: #a9a9a9;
    font-size: 14px;
    margin-bottom: 10px;
    transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.col-3 p:hover{
    color: #fff;
}

.footer .line{
    margin-top: 25px;
    margin-bottom: 16px;
}

.bi-twitter{

}

.tw, .fb ,.blog{
    width: 47px;
    height: 47px;
}
.logo-wrap img{
    
    width: 100px;
}
.logo-wrap{
    margin-top: 10px;
}
.logo-wrap span{
    color: #fff;
    font-size: 14px;
}
.footer p{
    color: #a9a9a9;
}